[tool.poetry]
name = "moabb"
version = "0.4.6"
description = "Mother of All BCI Benchmarks"
authors = ["Alexandre Barachant", "Vinay Jayaram"]
maintainers = ["Sylvain Chevallier <sylvain.chevallier@universite-paris-saclay.fr>"]
readme = "README.md"
repository = "https://github.com/NeuroTechX/moabb"
documentation = "https://neurotechx.github.io/moabb"
keywords = ["eeg", "datasets", "reproducibility", "bci", "benchmark"]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.24.1"
scipy = "^1.9.3"
mne = "^1.3.0"
pandas = "^1.5.2"
h5py = "^3.7.0"
scikit-learn = "^1.2.0"
matplotlib = "^3.6.2"
seaborn = "^0.12.1"
pyriemann = "^0.3"
PyYAML = "^6.0"
pooch = "^1.6.0"
requests = "^2.28.1"
tqdm = "^4.64.1"
coverage = "^7.0.1"
braindecode = "^0.7"
torch = "^1.13.1"

[tool.poetry.dev-dependencies]
Sphinx = "^6.0.0"
sphinx-gallery = "^0.11.1"
sphinx-bootstrap-theme = "^0.8.1"
numpydoc = "^1.5.0"
pre-commit = "^2.21.0"
m2r2 = "^0.3.3"
tdlda = {git = "https://github.com/jsosulski/tdlda.git", rev = "0.1.0"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 90
target-version = ["py38"]

[tool.isort]
src_paths = ["moabb"]
profile = "black"
line_length = 90
lines_after_imports = 2
