[tool.poetry]
name = "moabb"
version = "1.1.1"
description = "Mother of All BCI Benchmarks"
authors = ["Alexandre Barachant", "Vinay Jayaram"]
maintainers = ["Sylvain Chevallier <sylvain.chevallier@universite-paris-saclay.fr>"]
readme = "README.md"
repository = "https://github.com/NeuroTechX/moabb"
documentation = "https://neurotechx.github.io/moabb"
keywords = ["eeg", "datasets", "reproducibility", "bci", "benchmark"]
license = "BSD-3-Clause"


[tool.poetry.dependencies]
python = ">=3.9,<3.13"
numpy = "^1.22"
scipy = "^1.9.3"
mne = "^1.7.0"
pandas = "^1.5.2"
h5py = "^3.10.0"
scikit-learn = ">=1.4.2"
matplotlib = "^3.6.2"
seaborn = "^0.12.1"
pyriemann = "^0.6"
PyYAML = "^6.0"
pooch = "^1.6.0"
requests = "^2.28.1"
urllib3 = "^1.26.15"
tqdm = "^4.64.1"
coverage = "^7.0.1"
memory-profiler = "^0.61.0"
edflib-python = "^1.0.6"
edfio = "^0.4.2"
pytest = "^7.4.0"
mne-bids = "^0.14"


# Optional dependencies for carbon emission
codecarbon = { version = "^2.1.4", optional = true }

# Optional dependencies for deep learning
tensorflow = { version = ">=2.16", optional = true }
keras = { version = ">=3.2.0", optional = true }
scikeras =  { version = "^0.13.0", optional = true }
braindecode = {version = "^0.8", optional = true}
torch = { version = "^1.13.1", optional = true }
libclang = { version = "^15.0", optional = true }
docstring_inheritance = { version = "^2.2.0", optional = true}
optuna = { version = "^3.6.1", optional = true }
optuna-integration = { version = "^3.6.0", optional = true }

[tool.poetry.extras]
carbonemission = ["codecarbon"]
deeplearning = ["tensorflow", "keras", "scikeras", "braindecode", "docstring_inheritance", "torch", "libclang"]
optuna = ["optuna", "optuna-integration"]

[tool.poetry.group.docs]
optional = true


[tool.poetry.group.docs.dependencies]
Sphinx = "^5.3.0"
sphinx-gallery = "^0.11.1"
sphinx-bootstrap-theme = "^0.8.1"
pydata-sphinx-theme = "^0.13.2"
numpydoc = "^1.5.0"
pre-commit = "^2.21.0"
m2r2 = "^0.3.0"
tdlda = { git = "https://github.com/jsosulski/tdlda.git", rev = "0.1.0" }
sphinx-design = "^0.3.0"
sphinx-rtd-theme = "^1.2.0"
sphinx_copybutton = "^0.4.0"
sphinxcontrib-bibtex = "^2.2.0"
sphinx-favicon = "^1.0.1"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 90
target-version = ["py38"]


[tool.isort]
src_paths = ["moabb"]
profile = "black"
line_length = 90
lines_after_imports = 2

# pyproject.toml
[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q"
python_files = [
    "test_*.py",
	 "[!_]*.py",
]
