scikit-learn<0.24.0  # 0.24.0 breaks pyriemann, requires https://github.com/alexandrebarachant/pyRiemann/pull/93
mne >= 0.19
pyriemann
matplotlib >= 2.2
seaborn >= 0.9.0
h5py==2.10  # locked due to https://github.com/NeuroTechX/moabb/issues/122
pandas
pyyaml
coloredlogs
sphinx-gallery
sphinx-bootstrap_theme
numpydoc
pillow
m2r
-e git://github.com/jsosulski/tdlda#egg=tdlda
