name: Docs

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build_docs:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-18.04]
        python-version: ["3.6"]

    steps:
      - uses: actions/checkout@v2

      - name: Create local data folder
        run: |
          mkdir ~/mne_data

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1.1.6
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Cache datasets and docs
        id: cached-dataset-docs
        uses: actions/cache@v2
        with:
          key: doc-${{ github.head_ref }}-${{ hashFiles('moabb/datasets/**') }}
          path: |
            ~/mne_data
            docs/build

      - name: Install dependencies
        if: steps.cached-dataset-docs.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root -E external

      - name: Install library
        run: poetry install --no-interaction -E external

      - name: Build docs
        run: |
          cd docs && poetry run make html

      # Create an artifact of the html output.
      - uses: actions/upload-artifact@v2
        with:
          name: DocumentationHTML
          path: docs/build/html/

  deploy_docs:
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: build_docs
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04]

    steps:
      - uses: actions/checkout@v2

      - name: Create local data folder
        run: |
          mkdir ~/mne_data

      - name: Cache datasets and docs
        id: cached-dataset-docs
        uses: actions/cache@v2
        with:
          key: doc-${{ github.head_ref }}-${{ hashFiles('moabb/datasets/**') }}
          path: |
            ~/mne_data
            docs/build

      - name: Checkout moabb.github.io
        uses: actions/checkout@v2
        with:
          repository: "NeuroTechX/moabb.github.io"
          path: moabb-ghio
          token: ${{ secrets.MOABB_GHIO }}

      - name: Deploy on moabb.github.io
        run: |
          git config --global user.email "ci@neurotechx.com"
          git config --global user.name "Github Actions"
          cd ~/work/moabb/moabb/moabb-ghio
          rm -Rf docs
          cp -a ~/work/moabb/moabb/docs/build/html ./docs
          git add -A
          git commit -m "GH Actions update of docs ($GITHUB_RUN_ID - $GITHUB_RUN_NUMBER)"
          git push origin master

      # Previous test with moabb GH pages, official docs point to moabb.github.io
      ###########################################################################
      # Since we want the URL to be neurotechx.github.io/docs/ the html output needs to be put in a ./docs subfolder of the publish_dir
      # - name: Move docs into site folder
      #   run: |
      #     mkdir site
      #     mv docs/build/html site/docs

      # - name: Deploy on moabb gh-pages
      #   uses: peaceiris/actions-gh-pages@v3
      #   if: github.ref == 'refs/heads/master'
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: site

      # Using checkout and push actions, not working
      ##############################################
      # - name: Install SSH key
      #   uses: shimataro/ssh-key-action@v2
      #   with:
      #     key: ${{ secrets.MOABB_DOCS_SSH }}
      #     known_hosts: ${{ secrets.KNOWN_HOST_GH }}

      # - name: Checkout moabb.github.io
      #   uses: actions/checkout@v2
      #   with:
      #     repository: "NeuroTechX/moabb.github.io"
      #     path: moabb-ghio
      #     fetch-depth: 0
      #     persist-credentials: false

      # - name: Add html files
      #   run: |
      #     cd ~/work/moabb/moabb/moabb-ghio
      #     rm -Rf docs
      #     cp -a ~/work/moabb/moabb/docs/build/html ./docs
      #     git config --global user.email "ci@neurotechx.com"
      #     git config --global user.name "Github Actions"
      #     git commit -m "GH Actions update of docs ($GITHUB_RUN_ID - $GITHUB_RUN_NUMBER)" -a

      # - name: Push
      #   uses: ad-m/github-push-action@master
      #   with:
      #     github_token: ${{ secrets.MOABB_GHIO }}
      #     repository: "NeuroTechX/moabb.github.io"
