name: Test

on:
  push:
    branches: [ master, 'dev/*' ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: ${{ matrix.os }}, py-${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, windows-latest, macOS-latest]
        python_version: [3.6]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel flake8
        pip install -r requirements.txt
        pip install .
    - name: Run tests
      run: |
        python -m unittest moabb.tests
        python -m moabb.run --pipelines=./moabb/tests/test_pipelines/ --verbose
    - name: Run linting
      run: |
        flake8 moabb
