name: Test

on:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    name: ${{ matrix.os }}, py-${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, windows-latest, macOS-latest]
        python_version: [3.6]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - uses: pre-commit/action@v2.0.0
      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip poetry wheel
          poetry config virtualenvs.create false
          poetry install
      - name: Run tests
        shell: bash
        run: |
          python -m unittest moabb.tests
      - name: Run pipelines
        shell: bash
        run: |
          python -m moabb.run --pipelines=./moabb/tests/test_pipelines/ --verbose
